h1{

    margin-top: 10%;
    text-align: center;
   
}
#title{
    color: black;
}
h3{
    color: blanchedalmond;
}
body{
    height: 900px;
    background-image: url('bg.jpg');
    background-size: cover;
}
#myrow{
    margin-left: 8%;
}
#myRow1{
    margin-left: 8%;
}
h1 {
    color: blanchedalmond;
}
p {
    color: blanchedalmond;
}
button{
    color: blanchedalmond;
}
small{
    color: blanchedalmond;
}
#table{
    text-align: center;
}
